{% extends "base.html" %}
{% block body %}

{% include "nav.html" %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            
            <div id="loading_text" class="d-none">Loading...</div>
            
            <h1 class="text-center">Customized Search Engine</h1>
            <!-- div containing search box with htmx -->
            <div class="col-md-8 col-sm-12 m-auto">
                <form hx-get="{% url 'search' %}" hx-push-url='true' hx-target="#results" hx-indicator="#loading_text" class="d-flex align-items-center gap-1">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" value="{{ q }}" placeholder="Search for...">
                    </div>
                    <input type="hidden" name="page" value="1">
                    <button id="search_button" type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>

            <!-- div containing search results -->
            <div id="results">
                {% if q %}
                    {% include "components/search_results_component.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

